<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add new camp</a>
    <ul>
        <% for(let cmp of campgrounds) {%>
            <li>
                <a href="/campgrounds/<%= cmp._id %>">
                    <%= cmp.title %>
                </a>
            </li>
            <% } %>
    </ul>